﻿@model CA1.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-left:12.5%; color:#042df2">Delete</h2>

<h3 style="margin-left:12.5%; color:#042df2">Are you sure you want to delete this?</h3>
<fieldset style="margin-left:12.5%; color:#042df2">
    <legend style="color:#042df2">Trip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p style="margin-left:12.5%; color:#042df2">
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
