﻿@model IEnumerable<CA1.Models.Trip>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p style="margin-left:12.5%">
    @Html.ActionLink("Create New", "Create")
</p>
<p style="margin-left:12.5%">
    @Html.ActionLink("Add Leg", "CreateLeg")
</p>
<p style="margin-left:12.5%">
    @Html.ActionLink("Show Legs","Index","Legs")
</p>
<table style="color:#042df2; margin-left:12.5%; border-radius:6px">
    <tr>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.name)
            @*@Html.DisplayFor()*@
        </th>
        <th >
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotViable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Viable)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.NotViable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tripID }) |
            @Html.ActionLink("Details", "Details", new { id=item.tripID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tripID })
        </td>
    </tr>
}
    
</table>
