﻿@model CA1.Models.Legs

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-left:12.5%; color:#042df2">Details</h2>

<fieldset style="margin-left:12.5%; color:#042df2">
    <legend style="color:#042df2">Legs</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startLocal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startLocal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.finishLocal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.finishLocal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>
</fieldset>
<p style="margin-left:12.5%; color:#042df2">
    @Html.ActionLink("Edit", "Edit", new { id=Model.legID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
