﻿@model IEnumerable<CA1.Models.Legs>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p style="margin-left:12.5%">
    @Html.ActionLink("Create New", "Create")
</p>
<table style="color:#042df2; margin-left:12.5%; border-radius:6px">
    <tr>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.startLocal)
        </th>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.finishLocal)
        </th>
        <th style="width:20%">
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finishLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.legID }) |
            @Html.ActionLink("Details", "Details", new { id=item.legID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.legID })
        </td>
    </tr>
}

</table>
