﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color:#fff">
    <div class="container">
        <div class="jumbotron">
                <h1>Tours Galore</h1>
        </div>
    </div>

    
    @RenderBody()

    

    
    @RenderSection("scripts", required: false)
</body>
</html>
