﻿@model IEnumerable<CA1.Models.Guest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.guestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.guestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.guestID })
        </td>
    </tr>
}

</table>
